<form action="/favourites" method="post" class="inline">
  <input type="hidden" name="id" value="<%= home._id %>" />
  <button
    class="bg-red-500 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-600 transition duration-200"
  >
    Add to Favourite
  </button>
</form>
